if Rails.env != 'test'
  Rails.application.config.roles = [
    {
      name: "ADMIN"
    },
    {
      name: "USER"
    }
  ]
  Rails.application.config.services = {
    publication: {
      site: "<address to items service>"
    },
    people: {
      site: "<address to people service>"
    },    
    session: {
      auth: "http://login-server.test.com"
    }
  }
end