if Rails.env != 'test'
  Rails.application.config.roles = [
    {
      name: "ADMIN"
    },
    {
      name: "USER"
    },
    {
      name: "API"
    }
  ]
  Rails.application.config.services = {
    publication: {
      site: "<address to items service>"
    },
    people: {
      site: "<address to people service>"
    },
    session: {
      auth: "http://login-server.test.com"
    }
  }

  Rails.application.config.datasources = {
    gupea: {    
      apikey: ''  
    },
    scopus: {
      apikey: ''
    },
    crossref: {
      apikey: ''
    },
    pubmed: {
      apikey: ''
    }
  }
end
