---
api_key_users:
  -
    username: "test_key_user"
    first_name: "Test"
    last_name: "Key User"
    role: "API_KEY"
    api_key: "an-api-key"

external_auth_url: 'https://login-server.example.com'
journal_index_url: 'http://solr-server.example.com/journals/'
publication_index_url: 'solr-server.example.com/publications/'
person_index_url: 'http://solr-server.example.com/people/'

gu_research_index_url: 'http://solr-server.example.com/guresearch-publications/'

datasource_api_keys:
  scopus: 'xxxxx'

file_upload_root_dir: '/path/to/upload/root/dir'
sitemaps_dir: '/path/to/sitemaps/dir'

mail_settings:
  delivery_options:
    address: ''
    port: 25
  from_email: ''
  to_email: ''

public_base_url: 'http://example.com/'
publication_path: 'path/to/publication/'
file_path: 'path/to/file/'

university:
  name_sv: 'Swedish name'
  name_en: 'English name'

oai_settings:
  max_no_of_records: 100
  repository_name: ''
  repository_url: 'http://example.com/oai'
  record_prefix: 'oai:example.com'
  admin_email: ''
  record_content_source: 'example'

override_file: '/tmp/gup_auth_override.enable'

