---
api_key_users:
  -
    username: "test_key_user"
    first_name: "Test"
    last_name: "Key User"
    role: "API_KEY"
    api_key: "an-api-key"

external_auth_url: 'https://login-server.example.com/'
solr_url: 'http://solr-server.example.com/solr/'

datasource_api_keys:
  scopus: 'xxxxx'

mail_settings:
  delivery_options:
    address: ''
    port: 25
  from_email: ''
  to_email: ''

override_file: '/tmp/gup_auth_override.enable'
