<dataConfig>
<dataSource driver="org.postgresql.Driver" url="jdbc:postgresql://<Host>:<Port>/<DB Name>" user="<DB User>" encoding="UTF-8"/>
    <document name="people">
        <entity name="person" pk="id" query="SELECT p.id,
                          p.year_of_birth,
                          p.first_name,
                          p.last_name,
                          p.created_at,
                          p.updated_at,
                          p.created_by,
                          p.updated_by,
                          i1.value AS xaccount,
                          i2.value AS orcid,
                          CASE 
                            WHEN active.id IS NULL 
                            THEN false
                            ELSE true
                          END AS has_active_publications
                        FROM people p
                        LEFT JOIN identifiers i1 ON p.id = i1.person_id AND i1.source_id = (SELECT id FROM sources WHERE name = 'xkonto'::text)
                        LEFT JOIN identifiers i2 ON p.id = i2.person_id AND i2.source_id = (SELECT id FROM sources WHERE name = 'orcid'::text)
                        LEFT JOIN (SELECT DISTINCT ptmp.id FROM people ptmp
                          JOIN people2publications p2p ON p2p.person_id = ptmp.id
                          JOIN publications publ ON publ.current_version_id = p2p.publication_version_id
                          WHERE publ.deleted_at IS NULL) active ON active.id = p.id
                        WHERE p.deleted_at IS NULL">

            <field column="id" name="id" />
            <field column="year_of_birth" name="year_of_birth" />
            <field column="first_name" name="first_name" />
            <field column="last_name" name="last_name" />
            <field column="created_at" name="created_at" />
            <field column="updated_at" name="updated_at" />
            <field column="created_by" name="created_by" />
            <field column="updated_by" name="updated_by" />
            <field column="xaccount" name="xaccount" />
            <field column="orcid" name="orcid" />            
            <field column="has_active_publications" name="has_active_publications" />

            <entity name="identifiers" pk="person_id" query="SELECT value AS identifiers FROM identifiers WHERE person_id = '${person.id}'">
              <field column="identifiers" name="identifiers" />
            </entity>

            <entity name="alternative_names" pk="person_id" query="SELECT first_name || ' ' || last_name AS alternative_names FROM alternative_names WHERE person_id = '${person.id}'">
              <field column="alternative_names" name="alternative_names" />
            </entity>

        </entity>
    </document>
</dataConfig>