<dataConfig>
<dataSource driver="org.postgresql.Driver" url="jdbc:postgresql://<Host>:<Port>/<DB Name>" user="<DB User>" encoding="UTF-8"/>
    <document name="publications">
        <entity name="publication" pk="id" query="SELECT pv.id, publ.id as pubid, pv.pubyear, pv.title,  pv.sourcetitle, pv.sourcevolume, 
                          pv.sourceissue, pv.sourcepages, pv.place, pv.publisher, pv.dissdate, pv.dissopponent, pv.isbn, pv.issn, 
                           pv.patent_applicant, pv.patent_application_number, pv.patent_application_date, pv.patent_number, 
                          pv.patent_date, pv.keywords, pv.abstract, pv.publanguage as language
              FROM publication_versions pv
               JOIN publications publ ON publ.current_version_id = pv.id
              WHERE publ.deleted_at IS NULL">

            <field column="pubid" name="pubid" />
            <field column="pubyear" name="pubyear" />
            <field column="title" name="title" />
            <field column="sourcetitle" name="sourcetitle" />
            <field column="sourcevolume" name="sourcevolume" />
            <field column="sourceissue" name="sourceissue" />
            <field column="sourcepages" name="sourcepages" />
            <field column="place" name="place" />
            <field column="publisher" name="publisher" />
            <field column="dissdate" name="dissdate" />
            <field column="dissopponent" name="dissopponent" />
            <field column="isbn" name="isbn" />
            <field column="issn" name="issn" />

            <field column="patent_applicant" name="patent_applicant" />
            <field column="patent_application_number" name="patent_application_number" />
            <field column="patent_application_date" name="patent_application_date" />
            <field column="patent_number" name="patent_number" />
            <field column="patent_date" name="patent_date" />
            <field column="keywords" name="keywords" />
            <field column="abstract" name="abstract" />
            <field column="language" name="language" />



            <entity name="people" pk="person_id" transformer="TemplateTransformer" query="SELECT p.id AS person_id, 
                               p.first_name, p.last_name, i.value AS person_extid
                               FROM people p 
                                JOIN people2publications p2p ON p2p.person_id = p.id
                                LEFT JOIN identifiers i ON p.id = i.person_id AND i.source_id = (SELECT id FROM sources WHERE name = 'xkonto'::text)
                               WHERE p2p.publication_version_id = '${publication.id}'">
              <field column="person_id" name="person_id" />
              <field column="person_extid" name="person_extid" />
              <field column="person_normal_mapping" template="${people.person_id}:${people.first_name} ${people.last_name}" />
              <field column="person_last_first_extid_mapping" template="${people.person_id}:${people.last_name}:${people.first_name}:${people.person_extid}" />
              <field column="person_extid_mapping" template="${people.person_id}:${people.person_extid}" />
            </entity>



            <entity name="departments" pk="department_id" transformer="TemplateTransformer" query="SELECT DISTINCT d.id AS department_id, 
                               d.name_sv, d.name_en, d.palassoid
                               FROM departments d
                                JOIN departments2people2publications d2p2p ON d2p2p.department_id = d.id
                                JOIN people2publications p2p ON p2p.id = d2p2p.people2publication_id                               
                               WHERE p2p.publication_version_id = '${publication.id}'">
              <field column="department_id" name="department_id" />
              <field column="palassoid" name="palassoid" />
              <field column="department_mapping_sv" template="${departments.department_id}:${departments.name_sv}" />
              <field column="department_mapping_en" template="${departments.department_id}:${departments.name_en}" />
              <field column="dept_palasso_mapping" template="${departments.department_id}:${departments.palassoid}" />
            </entity>

            <entity name="categories" pk="category_id" transformer="TemplateTransformer" query="SELECT c.id AS category_id, 
                               c.name_sv, c.name_en, c.svepid
                               FROM categories c
                                JOIN categories2publications c2p ON c2p.category_id = c.id
                               WHERE c2p.publication_version_id = '${publication.id}'
                               AND c.category_type = 'HSV_LOCAL_12'">
              <field column="category_id" name="category_id" />
              <field column="svepid" name="svepid" />
              <field column="category_mapping_sv" template="${categories.category_id}:${categories.name_sv}" />
              <field column="category_mapping_en" template="${categories.category_id}:${categories.name_en}" />
              <field column="category_mapping_sv_en" template="${categories.category_id}:${categories.name_sv}:${categories.name_en}" />
              <field column="category_mapping_svepid" template="${categories.category_id}:${categories.svepid}" />
            </entity>


            <entity name="series" pk="department_id" transformer="TemplateTransformer" query="SELECT s.id AS serie_id, 
                               s.title as seriestitle, s2p.serie_part as seriespart 
                               FROM series s
                                JOIN series2publications s2p ON s2p.serie_id = s.id
                               WHERE s2p.publication_version_id = '${publication.id}'">
              <field column="serie_id" name="serie_id" />
              <field column="seriestitle" name="seriestitle" />
              <field column="seriespart" name="seriespart" />
            </entity>

        </entity>
    </document>
</dataConfig>
